In [1]:
# Install ipython-sql
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.21)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (67.7.2)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 11.2 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.8)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Installing collected packages: jedi
Successfully installed jedi-0.19.1

In [2]:
# Load the SQL extension
%load_ext sql

# Create a SQLite database
%sql sqlite://

In [44]:
# Import necessary libraries and files
import sqlite3
import numpy as np
from google.colab import files
import pandas as pd
data=files.upload()

Saving sleepDay_merged.csv to sleepDay_merged.csv

In [4]:
# Read the file with Python
df = pd.read_csv("dailyActivity_merged.csv")
df['ActivityDate'].dtype

dtype('O')

In [5]:
pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.23.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.21)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2023.3.post1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26771 sha256=7690e177cb348ed0f40cf42130e393e865ccf5e0a23aeda85e1137987b51d5a1
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [6]:
import sqlite3
import pandas as pd

# Connect to or create a new SQLite database
conn = sqlite3.connect('bellabeat.db')

# Read the CSV file into a DataFrame
df = pd.read_csv('dailyActivity_merged.csv')

data_types = {
    'Id': 'INTEGER',
    'ActivityDate': 'DATE',
    'TotalSteps': 'INTEGER',
    'TotalDistance': 'REAL',
    'TrackerDistance': 'REAL',
    'LoggedActivitiesDistance': 'REAL',
    'VeryActiveDistance': 'REAL',
    'ModeratelyActiveDistance': 'REAL',
    'LightActiveDistance': 'REAL',
    'SedentaryActiveDistance': 'REAL',
     'VeryActiveMinutes': 'INTEGER',
     'FairlyActiveMinutes': 'INTEGER',
     'LightlyActiveMinutes': 'INTEGER',
     'SedentaryMinutes': 'INTEGER',
      'Calories': 'INTEGER',
}

# Create a new table 'dailyActivity_merged' and insert data with specified data types
df.to_sql('dailyActivity_merged', conn, if_exists='replace', index=False, dtype=data_types)

conn.close()

In [7]:
pip install sqlalchemy ipython-sql

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.21)
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.8)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [9]:
# Connect to the SQLite database
%sql sqlite:///bellabeat.db

In [10]:

# Check data types using SQL
%%sql
PRAGMA table_info(dailyActivity_merged);

   sqlite://
 * sqlite:///bellabeat.db
Done.

[(0, 'Id', 'INTEGER', 0, None, 0),
 (1, 'ActivityDate', 'DATE', 0, None, 0),
 (2, 'TotalSteps', 'INTEGER', 0, None, 0),
 (3, 'TotalDistance', 'REAL', 0, None, 0),
 (4, 'TrackerDistance', 'REAL', 0, None, 0),
 (5, 'LoggedActivitiesDistance', 'REAL', 0, None, 0),
 (6, 'VeryActiveDistance', 'REAL', 0, None, 0),
 (7, 'ModeratelyActiveDistance', 'REAL', 0, None, 0),
 (8, 'LightActiveDistance', 'REAL', 0, None, 0),
 (9, 'SedentaryActiveDistance', 'REAL', 0, None, 0),
 (10, 'VeryActiveMinutes', 'INTEGER', 0, None, 0),
 (11, 'FairlyActiveMinutes', 'INTEGER', 0, None, 0),
 (12, 'LightlyActiveMinutes', 'INTEGER', 0, None, 0),
 (13, 'SedentaryMinutes', 'INTEGER', 0, None, 0),
 (14, 'Calories', 'INTEGER', 0, None, 0)]

In [61]:
# Check the number of members/ID
%%sql
SELECT COUNT(DISTINCT Id) AS Distinct_Id_Count
FROM dailyActivity_merged;

   sqlite://
 * sqlite:///bellabeat.db
Done.

[(33,)]

In [60]:
# Get the number of members that have records almost everyday
%%sql
SELECT Id,
COUNT(Id) AS Total_Id
FROM dailyActivity_merged
GROUP BY Id
having Total_Id>=30

   sqlite://
 * sqlite:///bellabeat.db
Done.

[(1503960366, 31),
 (1624580081, 31),
 (1644430081, 30),
 (1844505072, 31),
 (1927972279, 31),
 (2022484408, 31),
 (2026352035, 31),
 (2320127002, 31),
 (2873212765, 31),
 (3977333714, 30),
 (4020332650, 31),
 (4319703577, 31),
 (4388161847, 31),
 (4445114986, 31),
 (4558609924, 31),
 (4702921684, 31),
 (5553957443, 31),
 (5577150313, 30),
 (6962181067, 31),
 (7086361926, 31),
 (8053475328, 31),
 (8378563200, 31),
 (8583815059, 31),
 (8877689391, 31)]

In [12]:
# Define active users and non-active users, and respective %
%%sql
WITH UserTypeCounts AS (
    SELECT
        Id,
        COUNT(Id) AS Total_Logged_Uses,
        CASE
            WHEN COUNT(Id) BETWEEN 25 AND 31 THEN 'Active User'
            WHEN COUNT(Id) BETWEEN 15 AND 24 THEN 'Moderate User'
            WHEN COUNT(Id) BETWEEN 0 AND 14 THEN 'Light User'
        END AS Fitbit_Usage_Type
    FROM dailyActivity_merged
    GROUP BY Id
),
TotalCounts AS (
    SELECT
        COUNT(Id) AS TotalUsers
    FROM UserTypeCounts
)
SELECT
    Fitbit_Usage_Type,
    COUNT(Id) AS UserCount,
    ROUND((COUNT(Id) * 100.0) / TotalUsers, 2) AS PercentageOfTotal
FROM UserTypeCounts, TotalCounts
GROUP BY Fitbit_Usage_Type
ORDER BY Fitbit_Usage_Type;

   sqlite://
 * sqlite:///bellabeat.db
Done.

[('Active User', 29, 87.88),
 ('Light User', 1, 3.03),
 ('Moderate User', 3, 9.09)]

In [13]:
# Statistical summary on steps, distance, calories, activity per ID account
%%sql
SELECT Id,
MIN(TotalSteps) AS Min_Total_Steps,
MAX(TotalSteps) AS Max_Total_Steps,
ROUND(AVG(TotalSteps)) AS Avg_Total_Stpes,
ROUND(MIN(TotalDistance)) AS Min_Total_Distance,
ROUND(MAX(TotalDistance)) AS Max_Total_Distance,
ROUND(AVG(TotalDistance)) AS Avg_Total_Distance,
MIN(Calories) AS Min_Total_Calories,
MAX(Calories) AS Max_Total_Calories,
ROUND(AVG(Calories)) AS Avg_Total_Calories,
MIN(VeryActiveMinutes) AS Min_Very_Active_Minutes,
MAX(VeryActiveMinutes) AS Max_Very_Active_Minutes,
ROUND(AVG(VeryActiveMinutes)) AS Avg_Very_Active_Minutes,
MIN(FairlyActiveMinutes) AS Min_Fairly_Active_Minutes,
MAX(FairlyActiveMinutes) AS Max_Fairly_Active_Minutes,
ROUND(AVG(FairlyActiveMinutes)) AS Avg_Fairly_Active_Minutes,
MIN(LightlyActiveMinutes) AS Min_Lightly_Active_Minutes,
MAX(LightlyActiveMinutes) AS Max_Lightly_Active_Minutes,
ROUND(AVG(LightlyActiveMinutes)) AS Avg_Lightly_Active_Minutes,
MIN(SedentaryMinutes) AS Min_Sedentary_Minutes,
MAX(SedentaryMinutes) AS Max_Sedentary_Minutes,
ROUND(AVG(SedentaryMinutes)) AS Avg_Sedentary_Minutes
From dailyActivity_merged
Group BY Id

   sqlite://
 * sqlite:///bellabeat.db
Done.

[(1503960366, 0, 18134, 12117.0, 0.0, 12.0, 8.0, 0, 2159, 1816.0, 0, 78, 39.0, 0, 46, 19.0, 0, 328, 220.0, 539, 1440, 848.0),
 (1624580081, 1510, 36019, 5744.0, 1.0, 28.0, 4.0, 1002, 2690, 1483.0, 0, 186, 9.0, 0, 63, 6.0, 91, 236, 153.0, 890, 1349, 1258.0),
 (1644430081, 1223, 18213, 7283.0, 1.0, 13.0, 5.0, 1276, 3846, 2811.0, 0, 51, 10.0, 0, 94, 21.0, 38, 402, 178.0, 682, 1402, 1162.0),
 (1844505072, 0, 8054, 2580.0, 0.0, 5.0, 2.0, 665, 2130, 1573.0, 0, 2, 0.0, 0, 13, 1.0, 0, 373, 115.0, 218, 1440, 1207.0),
 (1927972279, 0, 3790, 916.0, 0.0, 3.0, 1.0, 1383, 2638, 2173.0, 0, 16, 1.0, 0, 9, 1.0, 0, 192, 39.0, 734, 1440, 1317.0),
 (2022484408, 3292, 18387, 11371.0, 2.0, 13.0, 8.0, 1848, 3158, 2510.0, 0, 104, 36.0, 0, 63, 19.0, 135, 361, 257.0, 728, 1305, 1113.0),
 (2026352035, 254, 12357, 5567.0, 0.0, 8.0, 3.0, 1141, 1926, 1541.0, 0, 3, 0.0, 0, 8, 0.0, 17, 475, 257.0, 330, 1062, 689.0),
 (2320127002, 772, 10725, 4717.0, 1.0, 7.0, 3.0, 1125, 2124, 1724.0, 0, 20, 1.0, 0, 11, 3.0, 40, 335, 198.0, 830, 1400, 1220.0),
 (2347167796, 42, 22244, 9520.0, 0.0, 15.0, 6.0, 403, 2670, 2043.0, 0, 66, 14.0, 0, 72, 21.0, 4, 382, 253.0, 2, 1011, 687.0),
 (2873212765, 2524, 9685, 7556.0, 2.0, 7.0, 5.0, 1431, 2241, 1917.0, 0, 75, 14.0, 0, 23, 6.0, 52, 448, 308.0, 720, 1302, 1097.0),
 (3372868164, 3077, 9715, 6862.0, 2.0, 7.0, 5.0, 1237, 2124, 1933.0, 0, 24, 9.0, 0, 25, 4.0, 172, 416, 328.0, 842, 1234, 1078.0),
 (3977333714, 746, 16520, 10985.0, 1.0, 11.0, 8.0, 52, 1760, 1514.0, 0, 50, 19.0, 0, 143, 61.0, 9, 258, 175.0, 13, 1159, 708.0),
 (4020332650, 0, 11728, 2267.0, 0.0, 8.0, 2.0, 1120, 3879, 2386.0, 0, 65, 5.0, 0, 46, 5.0, 0, 346, 77.0, 531, 1440, 1237.0),
 (4057192912, 0, 5974, 3838.0, 0.0, 4.0, 3.0, 1527, 2306, 1974.0, 0, 3, 1.0, 0, 6, 2.0, 0, 164, 103.0, 873, 1440, 1217.0),
 (4319703577, 17, 13658, 7269.0, 0.0, 9.0, 5.0, 257, 2530, 2038.0, 0, 27, 4.0, 0, 47, 12.0, 0, 390, 229.0, 0, 1440, 736.0),
 (4388161847, 3369, 22770, 10814.0, 3.0, 18.0, 8.0, 1623, 4022, 3094.0, 0, 120, 23.0, 0, 56, 20.0, 0, 306, 229.0, 508, 1440, 837.0),
 (4445114986, 768, 9105, 4797.0, 1.0, 6.0, 3.0, 1212, 2499, 2186.0, 0, 34, 7.0, 0, 22, 2.0, 58, 350, 209.0, 380, 1247, 830.0),
 (4558609924, 3428, 13743, 7685.0, 2.0, 9.0, 5.0, 1452, 2666, 2033.0, 0, 66, 10.0, 0, 41, 14.0, 127, 432, 285.0, 736, 1287, 1094.0),
 (4702921684, 0, 15126, 8572.0, 0.0, 12.0, 7.0, 1240, 3691, 2966.0, 0, 22, 5.0, 0, 125, 26.0, 0, 439, 237.0, 241, 1440, 766.0),
 (5553957443, 655, 17022, 8613.0, 0.0, 11.0, 6.0, 741, 2335, 1876.0, 0, 69, 23.0, 0, 42, 13.0, 46, 288, 206.0, 222, 943, 668.0),
 (5577150313, 0, 15764, 8304.0, 0.0, 12.0, 6.0, 1665, 4552, 3360.0, 0, 210, 87.0, 0, 74, 30.0, 0, 235, 148.0, 257, 1440, 754.0),
 (6117666160, 0, 19542, 7047.0, 0.0, 15.0, 5.0, 1248, 4900, 2261.0, 0, 26, 2.0, 0, 19, 2.0, 0, 518, 288.0, 125, 1440, 796.0),
 (6290855005, 0, 9837, 5650.0, 0.0, 7.0, 4.0, 0, 3327, 2600.0, 0, 33, 3.0, 0, 95, 4.0, 0, 363, 227.0, 800, 1440, 1193.0),
 (6775888955, 0, 10771, 2520.0, 0.0, 8.0, 2.0, 1032, 3727, 2132.0, 0, 70, 11.0, 0, 113, 15.0, 0, 178, 40.0, 551, 1440, 1299.0),
 (6962181067, 1551, 20031, 9795.0, 1.0, 13.0, 7.0, 928, 2571, 1982.0, 0, 62, 23.0, 0, 42, 19.0, 86, 369, 246.0, 127, 862, 662.0),
 (7007744171, 0, 20067, 11323.0, 0.0, 14.0, 8.0, 120, 3180, 2544.0, 0, 64, 31.0, 0, 50, 16.0, 0, 424, 281.0, 111, 1440, 1055.0),
 (7086361926, 0, 14560, 9372.0, 0.0, 11.0, 6.0, 1199, 2997, 2566.0, 0, 87, 43.0, 0, 69, 25.0, 0, 308, 144.0, 343, 1440, 850.0),
 (8053475328, 1170, 22988, 14763.0, 1.0, 18.0, 11.0, 1505, 3589, 2946.0, 0, 132, 85.0, 0, 33, 10.0, 39, 228, 151.0, 695, 1389, 1148.0),
 (8253242879, 0, 11268, 6482.0, 0.0, 9.0, 5.0, 0, 2218, 1788.0, 0, 49, 21.0, 0, 54, 14.0, 0, 216, 117.0, 1193, 1440, 1287.0),
 (8378563200, 2132, 16208, 8718.0, 2.0, 13.0, 7.0, 1976, 4236, 3437.0, 0, 137, 59.0, 0, 23, 10.0, 93, 214, 156.0, 433, 851, 716.0),
 (8583815059, 0, 15168, 7199.0, 0.0, 12.0, 6.0, 0, 3513, 2732.0, 0, 77, 10.0, 0, 91, 22.0, 0, 317, 138.0, 1069, 1440, 1267.0),
 (8792009665, 0, 8360, 1854.0, 0.0, 5.0, 1.0, 57, 3101, 1962.0, 0, 10, 1.0, 0, 45, 4.0, 0, 380, 92.0, 48, 1440, 1060.0),
 (8877689391, 4790, 29326, 16040.0, 4.0, 27.0, 13.0, 1849, 4547, 3420.0, 0, 124, 66.0, 0, 29, 10.0, 105, 429, 235.0, 770, 1335, 1113.0)]

In [59]:
# Activity level per users
%%sql
SELECT Id,
round(avg(VeryActiveMinutes),1) AS Avg_Very_Active_Minutes,
round(avg(FairlyActiveMinutes),1) AS Avg_Fairly_Active_Minutes,
round(avg(LightlyActiveMinutes),1) AS Avg_Lightly_Active_Minutes,
round(avg(SedentaryMinutes),1) AS Avg_Sedentary_Minutes
From dailyActivity_merged
GROUP BY Id

   sqlite://
 * sqlite:///bellabeat.db
Done.

[(1503960366, 38.7, 19.2, 219.9, 848.2),
 (1624580081, 8.7, 5.8, 153.5, 1257.7),
 (1644430081, 9.6, 21.4, 178.5, 1161.9),
 (1844505072, 0.1, 1.3, 115.5, 1206.6),
 (1927972279, 1.3, 0.8, 38.6, 1317.4),
 (2022484408, 36.3, 19.4, 257.5, 1112.6),
 (2026352035, 0.1, 0.3, 256.6, 689.4),
 (2320127002, 1.4, 2.6, 198.2, 1220.1),
 (2347167796, 13.5, 20.6, 252.5, 687.2),
 (2873212765, 14.1, 6.1, 308.0, 1097.2),
 (3372868164, 9.2, 4.1, 327.9, 1077.6),
 (3977333714, 18.9, 61.3, 174.8, 707.5),
 (4020332650, 5.2, 5.4, 76.9, 1237.3),
 (4057192912, 0.8, 1.5, 103.0, 1217.3),
 (4319703577, 3.6, 12.3, 228.8, 735.8),
 (4388161847, 23.2, 20.4, 229.4, 836.7),
 (4445114986, 6.6, 1.7, 209.1, 829.9),
 (4558609924, 10.4, 13.7, 285.0, 1093.6),
 (4702921684, 5.1, 26.0, 237.5, 766.4),
 (5553957443, 23.4, 13.0, 206.2, 668.4),
 (5577150313, 87.3, 29.8, 147.9, 754.4),
 (6117666160, 1.6, 2.0, 288.4, 796.3),
 (6290855005, 2.8, 3.8, 227.4, 1193.0),
 (6775888955, 11.0, 14.8, 40.2, 1299.4),
 (6962181067, 22.8, 18.5, 245.8, 662.3),
 (7007744171, 31.0, 16.3, 280.7, 1055.3),
 (7086361926, 42.6, 25.4, 143.8, 850.5),
 (8053475328, 85.2, 9.6, 151.0, 1148.0),
 (8253242879, 20.5, 14.3, 116.9, 1287.4),
 (8378563200, 58.7, 10.3, 156.1, 716.1),
 (8583815059, 9.7, 22.2, 138.3, 1267.2),
 (8792009665, 1.0, 4.0, 91.8, 1060.5),
 (8877689391, 66.1, 9.9, 234.7, 1112.9)]

In [36]:
# Activities per weekday
%%sql
SELECT ActivityDate,
ROUND(avg(TotalSteps),2) AS AVG_TotalSteps,
ROUND(avg(TotalDistance),2) AS AVG_TotalDistance,
ROUND(avg(Calories),2) AS AVG_TotalCalories
FROM dailyActivity_merged
GROUP BY ActivityDate

   sqlite://
 * sqlite:///bellabeat.db
Done.

[('Friday', 7448.23, 5.31, 2331.79),
 ('Monday', 7780.87, 5.55, 2324.21),
 ('Saturday', 8152.98, 5.85, 2354.97),
 ('Sunday', 6933.23, 5.03, 2263.0),
 ('Thursday', 7405.84, 5.31, 2199.57),
 ('Tuesday', 8125.01, 5.83, 2356.01),
 ('Wednesday', 7559.37, 5.49, 2302.62)]

In [32]:
# Check if the active minutes meet the recommended CDC threshold of 150 mins, and how many people
%%sql
SELECT CDC_Recommendations, COUNT(*) AS Recommendation_Count
FROM (
    SELECT Id,
           CASE
               WHEN ROUND(AVG(VeryActiveMinutes) + AVG(FairlyActiveMinutes) + avg(LightlyActiveMinutes))>= 150 THEN 'Meets CDC Recommendation'
               WHEN ROUND(AVG(VeryActiveMinutes) + AVG(FairlyActiveMinutes) + avg(LightlyActiveMinutes))< 150 THEN 'Does Not Meet CDC Recommendation'
           END AS CDC_Recommendations
    FROM dailyActivity_merged
    GROUP BY Id
) subquery
GROUP BY CDC_Recommendations;

   sqlite://
 * sqlite:///bellabeat.db
Done.

[('Does Not Meet CDC Recommendation', 6), ('Meets CDC Recommendation', 27)]

In [54]:
# Import another table with sleep information
# Connect to or create a new SQLite database
conn = sqlite3.connect('bellabeat.db')

# Read the CSV file into a DataFrame
df2 = pd.read_csv("sleepDay_merged.csv")
# Create a new table 'dailyActivity_merged' and insert data with specified data types
df2.to_sql('sleepDay_merged', conn, if_exists='replace', index=False)

conn.close()

In [56]:
# Check if any relationship betwen steps and sleeps
%%sql
WITH temp_table AS (
  SELECT Id, ROUND(AVG(dailyActivity_merged.TotalSteps)) AS DailyAVGSteps
  FROM dailyActivity_merged
  GROUP BY Id
)

SELECT
  temp_table.Id,
  temp_table.DailyAVGSteps,
  round(AVG(sleepDay_merged.TotalTimeInBed)) AS AVGMinutesAsleep
FROM temp_table
INNER JOIN sleepDay_merged
ON sleepDay_merged.Id = temp_table.Id
GROUP BY temp_table.Id
ORDER BY temp_table.DailyAVGSteps DESC;

   sqlite://
 * sqlite:///bellabeat.db
Done.

[(8053475328, 14763.0, 302.0),
 (1503960366, 12117.0, 383.0),
 (7007744171, 11323.0, 72.0),
 (3977333714, 10985.0, 461.0),
 (4388161847, 10814.0, 423.0),
 (6962181067, 9795.0, 466.0),
 (2347167796, 9520.0, 491.0),
 (7086361926, 9372.0, 466.0),
 (8378563200, 8718.0, 486.0),
 (5553957443, 8613.0, 506.0),
 (4702921684, 8572.0, 438.0),
 (5577150313, 8304.0, 461.0),
 (4558609924, 7685.0, 140.0),
 (1644430081, 7283.0, 346.0),
 (4319703577, 7269.0, 502.0),
 (6117666160, 7047.0, 510.0),
 (2026352035, 5567.0, 538.0),
 (4445114986, 4797.0, 417.0),
 (2320127002, 4717.0, 69.0),
 (1844505072, 2580.0, 961.0),
 (6775888955, 2520.0, 369.0),
 (4020332650, 2267.0, 380.0),
 (8792009665, 1854.0, 454.0),
 (1927972279, 916.0, 438.0)]